.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.square {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.square:hover {
  background: #dedede;
}

ul .board-list {
  list-style-type: none;
  display: inline;
 }

 #circle {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 15px;
 }

 #cross {
  width: 70px;
  height: 70px;
  margin: 15px;
  font-size: 50px;
  position: absolute;
  text-align: center;
 }
