<canvas id="board" width="300" height="300" style="border:1px solid #333;"></canvas>

<p id="demo"></p>

<p id="player" value="<%= @user_id %>">You are player #<%= @user_id %></p>

<p id="turn" value="<%= @current_player %>">It is player #<%= @current_player %>'s turn.</p>
