<form action="/" method="POST">
  Username: <input type="text" name="user[username]"></input>
  <br/>
  <br/>
  Password: <input type="text" name="user[password]"></input>
  <br/><br/>
  <input type="submit" value="Log In or Sign Up"></input>
</form>